.outline hover:outline-offset-2 outline-cyan-500 rounded lg rounded bg-[url('./img/hapeprime.PNG')] bg-repeat-round" style="height: 300px; width: 450px;{
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
     }
    }
    
    @keyframes float {
    0% {
    transform: translatey(0px);
    }
    50% {
    transform: translatey(-30px);
    }
    100% {
    transform: translatey(0px);
     }
}